$mainColor: rgb(184, 141, 49);

* {
    margin: 0;
    padding: 0;
}

.container {
    margin: 0 auto;
    max-width: 1140px;
}

.top {
    min-height: 100vh;
    width: 100%;
    background-image: url(images/headBcgr.jpg);
    position: relative;
}

.head {
    display: flex;
    padding-top: 95px;
    justify-content: center;
}

.head p {
    font-family: 'Lato';
    font-size: 20px;
    text-align: center;
    color: $mainColor;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
}


.header div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.header div p {
    color: black;
    border: 4px solid;
    padding: 15px 20px;
    font-family: 'Lato';
    letter-spacing: 3px;
    font-size: 36px;
    text-align: center;
}

.header span {
    color: $mainColor;
}

.content {
    margin-top: 100px;
    margin-bottom: 200px;
}

.aboutMe {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    &List {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-top: 50px;

        & div {
            border: 1px solid;
            padding: 10px;
            max-width: 300px;
        }
    }

    &List h3 {
        padding-bottom: 25px;
    }

    &List p {
        padding-top: 25px;
    }

}

.aboutMe h2 {
    font-size: 30px;
}

.aboutMeHardSkills {
    margin-top: 100px;

    &List {
        padding-top: 50px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    &List img {
        width: 100px;
        height: 150px;
    }

    &List h3 {
        padding-bottom: 25px;
    }
}

.aboutMeProjects {
    margin-top: 100px;

    &List {
        padding-top: 50px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}